/*layout styles*/

.div-container {
    width: 90%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*map styles*/

.mappath{
    stroke: #444444;
    stroke-width: 0.1rem;
    fill: #DDDDDD;
    opacity: 0.2;
}

.route{
    stroke: Orange;
    stroke-width: 3;
    opacity: 0.4;
}

.route:hover{
    stroke: orangered;
    stroke-width: 4;
    opacity: 0.8;
}

.spot{
    fill: green;
    opacity: 0.5;
}

.spotIAH{
    fill: purple;
    opacity: 0.5
}

.spot:hover, .spotIAH:hover {
    opacity: 0.8;
    stroke-width: 4px;
    stroke: black;
}

.clicked {
    fill: #7a1717;
    opacity: 1;
    stroke-width: 1px;
    stroke: black;
}

#maplegend .label {
    font-size: 1.25rem;
}

#maplegend .swatch {
    fill: green;
    opacity: 0.6;
}

.minuspadding {
    margin-bottom: -0.5rem;
}

.incresepaddingleft {
    padding-left: 2rem;
}

/*panel styles*/

.panelbefore {
    opacity: 0;
    height: 0;
}

.panelafter {
    opacity: 1;
    height: auto;
}

.panel {
    padding: 15px;
    max-width: 400px;
}

.pie {
    margin: -15px;
}

.reducedpadding {
     padding: 0.4rem;
 }

.collapsedtitle {
    padding: 0.5rem 1rem;
    text-align: center;
}

.collapsedtitle a {
    color: grey;
}

.nopadding {
    padding: 0rem;
}

.reducefontsize {
    font-size: 0.8rem;
}

.inlinetable {
    display: inline-block;
    padding-left: 0px;
    vertical-align: top;
}

#legend .label {
    font-size: 1rem;
}


/*tooltip*/
.force-tip {
     /*line-height: 1;*/
     /*font-weight: bold;*/
     font-size: 0.5rem;
     padding: 6px;
     background: rgba(0, 0, 0, 0.8);
     color: #fff;
     border-radius: 2px;
 }

.force-tip:after {
    box-sizing: border-box;
    display: inline;
    padding: 4px;
    font-size: 0.5rem;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.route-tip {
    pointer-events: none;
    opacity: 0;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font: 14px sans-serif;
    position: absolute;
}

.pie-tip {
    line-height: 1;
    /*font-weight: bold;*/
    font-size: 0.6rem;
    padding: 6px;
    background: #DDD;
    color: #222;
    border-radius: 2px;
}

.tooltipindex {
    color: #d4d4d4;
    font-weight: bold;
}

.chart-tip {
    /*line-height: 1;*/
    /*font-weight: bold;*/
    font-size: 0.5rem;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

h7 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 0.7rem;
}

h8 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 0.75rem;
}

.footer {
    font-size: 0.7rem;
    font-weight: lighter;
    color: Silver;
}